<div class="col-md-12">
    <div class="container">
        <h1>{{ title }}</h1>

        <div class="col-md-12">
            <div class="row">
                <form name="form">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <div class="row">
                            <select class="form-control" name="tipo" ng-model="$ctrl.tipo">
                                <option value="" disabled selected>Selecione</option>
                                <option value="1">Por Título</option>
                                <option value="2">Por Diretor</option>
                                <option value="3">Por Ator/Atriz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <input type="text" class="form-control" name="busca" ng-model="$ctrl.busca" placeholder="Busca">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <buttom class="btn btn-primary" ng-click="$ctrl.$buscarFilmeSerie()">Enviar</buttom>
                    </div>
                </form>
                <br>
                <br>
            </div>
        </div>

        <table class="table" ng-if="filmes">
            <thead>
            <tr>
                <th>Capa</th>
                <th>Título</th>
                <th>Avalição</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="filme in filmes">
                <td style="width: 200px"><img src="{{filme.poster}}" class="img-responsive img-thumbnail" ng-show="filme.poster"></td>
                <td><h4>{{ filme.show_title }}</h4></td>
                <td><h4>{{filme.rating}}</h4></td>
                <td style="width: 60px"><a ng-href="https://www.netflix.com/watch/0?origId={{filme.show_id}}" target="_blank" class="btn btn-danger">Assistir</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
